@charset "UTF-8";

@font-face {
    font-family: 'Poppins-Bold';
    font-display: swap;
    src: url(../fontes/Poppins-Bold.ttf);
}






:root {

    --cor0: #fff;
    --cor1: #2EACC4;
    --cor2: #D02C35;
    --cor3: #0f0c09;
    --cor4: #57A845;
    --cor5: #0F0C09CC;
    --cor6: #2DA9C0;
    --cor7: #217C8D;
    --cor8: #3D7530;
    --cor9: XXX;

    --fonte-padrão: 'Arial, Verdana, Helvetica, sans-serif';
    --fonte1: 'Poppins-Bold';
    --fonte2: 'xx';
    --fonte3: 'xx';
    --fonte4: 'xx';
    --fonte5: 'xx';
    --fonte6: 'xx';
    --fonte7: 'xx';
    --fonte8: 'xx';
    --fonte9: 'xx';
    --fonte10: 'xx';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cor5);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor0);
    border-radius: 10px;
}

body {
    max-width: 1366px;
    margin: auto;
    background-color: #ffffff;
}

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../imagens/background-image.webp);
    /* background-position: center center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
}

header h1 {
    font-family: var(--fonte1);
    font-size: 40px;
    color: var(--cor1);
    margin-top: 30px;
    line-height: 50px;
}

header h1 span {
    color: var(--cor2);
}

header h2 {
    font-family: var(--fonte1);
    font-size: 32px;
    color: var(--cor3);
    margin: 21px auto;
    max-width: 858px;
    /* line-height: 35px; */
}














































footer {
    background-color: var(--cor0);
    color: var(--cor5);
    text-align: center;
    font-family: var(--fonte3);
    font-size: 14px;
    height: 100%;
    padding: 5px;
}

footer a {
    color: inherit;
    text-decoration: none;
}