@charset "UTF-8";

@font-face {
    font-family: 'Poppins-Bold';
    font-display: swap;
    src: url(../fontes/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    font-display: swap;
    src: url(../fontes/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    font-display: swap;
    src: url(../fontes/RobotoCondensed-Bold.ttf);
}

:root {
    --cor0: #fff;
    --cor1: #2EACC4;
    --cor2: #D02C35;
    --cor3: #0f0c09;
    --cor4: #57A845;
    --cor5: #0F0C09CC;
    --cor6: #2DA9C0;
    --cor7: #217C8D;
    --cor8: #3D7530;

    --fonte-padrão: 'Arial, Verdana, Helvetica, sans-serif';
    --fonte1: 'Poppins-Bold';
    --fonte2: 'RobotoCondensed-Regular';
    --fonte3: 'RobotoCondensed-Bold';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: var(--fonte3);
    font-size: 24px;
    color: var(--cor0);
    background-color: var(--cor4);
    width: 100%;
    border-radius: 12px;
    border: none;
}

button:hover {
    color: var(--cor0);
    background-color: var(--cor8);
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cor3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor1);
    border-radius: 10px;
}

body {
    max-width: 1366px;
    margin: auto;
    background-color: #ffffff;
}

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1.9)), url(../imagens/background-image.webp);
    background-position: 0px -50px;
    background-size: cover;
    text-align: center;
    padding: 0px 9px;
}

header h1 {
    font-family: var(--fonte1);
    font-size: 40px;
    color: var(--cor1);
    margin-top: 30px;
    line-height: 50px;
}

header h1 span {
    color: var(--cor2);
}

header h2 {
    font-family: var(--fonte1);
    font-size: 32px;
    color: var(--cor3);
    margin: 21px auto;
    max-width: 858px;
    /* line-height: 35px; */
}

header h2#h2header {
    margin-top: -9px;
    line-height: 40px;
}

header h3 {
    font-family: var(--fonte3);
    font-size: 48px;
    color: var(--cor4);
    margin: 34px auto 29px;
}

header h4 {
    font-family: var(--fonte3);
    font-size: 28px;
    color: var(--cor5);
}

header p {
    font-family: var(--fonte2);
    font-size: 28px;
    color: var(--cor5);
    margin: 10px auto 10px;
}

header h5 {
    font-family: var(--fonte3);
    font-size: 28px;
    color: var(--cor6);
}

header button {
    padding: 14px 19px;
    max-width: 585px;
    margin: 40px auto 44px;
}

main .detalhespromo {
    width: 100%;
    max-width: 915px;
    margin: auto;
    padding: 0px 9px;
}

main .detalhespromo h2 {
    font-family: var(--fonte1);
    font-size: 32px;
    color: var(--cor3);
    margin-top: 5px;
    text-align: center;
}

main .detalhespromo h4#firsth4 {
    font-family: var(--fonte3);
    font-size: 28px;
    color: var(--cor5);
    margin-top: 26px;
}

main .detalhespromo h4 {
    font-family: var(--fonte3);
    font-size: 28px;
    color: var(--cor5);
    margin-top: 34px;
}

main .detalhespromo h5 {
    font-family: var(--fonte3);
    font-size: 28px;
    color: var(--cor6);
}

main .detalhespromo p {
    font-family: var(--fonte2);
    font-size: 28px;
    color: var(--cor5);
    margin-top: 6px;
    line-height: 45px;
}

main .detalhespromo ul {
    font-family: var(--fonte2);
    font-size: 28px;
    color: var(--cor5);
    list-style: none;
}

main .detalhespromo ul li {
    line-height: 45px;
}

main .contagem {
    padding: 0px 9px;
}

main .contagem .conteudocont {
    width: 100%;
    max-width: 915px;
    margin: auto;
}

main .contagem .conteudocont h2 {
    font-family: var(--fonte1);
    font-size: 40px;
    color: var(--cor3);
    text-align: center;
    margin-top: 22px;
}

main .contagem .conteudocont .numeros {
    display: flex;
    padding: 32px 53px 0px 53px;
}

main .contagem .conteudocont .numeros .customcount {
    padding: 0px 30px 0px 0px;
}

main .contagem .conteudocont .numeros .customcount span#days,
span#hours,
span#minutes,
span#seconds {
    font-family: var(--fonte3);
    font-size: 96px;
    text-align: center;
    display: block;
    width: 179.08px;
    height: 179.08px;
    padding: 43px 0px 0px;
    line-height: 1;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(180deg, var(--cor1) 50%, var(--cor7) 50%);
    border-radius: 20px;
}

main .contagem .conteudocont .numeros .customcount p {
    font-family: var(--fonte3);
    font-size: 33px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: var(--cor6);
    margin-top: 17px;
}

main .contagem .conteudocont button {
    padding: 20px 19px;
    margin: 44px auto 42px;
}

main .footer {
    font-family: var(--fonte2);
    font-size: 16px;
    color: var(--cor0);
    text-align: center;
    background-color: var(--cor3);
    padding: 35px 0px;
}

footer {
    background-color: var(--cor6);
    color: var(--cor3);
    text-align: center;
    font-family: var(--fonte3);
    font-size: 14px;
    height: 100%;
    padding: 5px;
}